.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.error-boundary {
  padding: 2rem;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
